In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [108]:
x_train=pd.read_csv('C:/Users/CANARA/Downloads/Bank marketing analysis DV/Banking_Marketing_X_train/Banking_Marketing_X_train.csv')

In [109]:
y_train=pd.read_csv('C:/Users/CANARA/Downloads/Bank marketing analysis DV/Banking_Marketing_Y__train/Banking_Marketing_Y__train.csv',header=None)

In [110]:
x_test=pd.read_csv('C:/Users/CANARA/Downloads/Bank marketing analysis DV/Banking_Marketing_X_test/Banking_Marketing_X_test.csv')

In [111]:
x_train.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,management,divorced,high.school,no,no,yes,telephone,may,wed,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
1,29,blue-collar,married,basic.9y,unknown,yes,yes,cellular,may,thu,11,5,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
2,31,blue-collar,divorced,basic.9y,no,yes,yes,telephone,jun,wed,121,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
3,41,blue-collar,married,basic.4y,no,no,no,telephone,jun,thu,163,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1
4,35,blue-collar,married,basic.4y,no,no,no,telephone,may,mon,131,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [112]:
x_train.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
dtype: int64

In [118]:
x_train_encoded=pd.get_dummies(x_train)
x_train_encoded.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,30,149,1,999,0,1.1,93.994,-36.4,4.856,5191.0,...,0,0,0,0,0,0,1,0,1,0
1,29,11,5,999,0,-1.8,92.893,-46.2,1.266,5099.1,...,0,0,0,0,1,0,0,0,1,0
2,31,121,2,999,0,1.4,94.465,-41.8,4.864,5228.1,...,0,0,0,0,0,0,1,0,1,0
3,41,163,1,999,0,1.4,94.465,-41.8,4.866,5228.1,...,0,0,0,0,1,0,0,0,1,0
4,35,131,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0

In [120]:
x_train_encoded.shape

(32950, 63)

In [151]:
x_test_encoded=pd.get_dummies(x_test)
x_test_encoded.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,53,202,1,999,0,1.1,93.994,-36.4,4.860,5191.0,...,0,0,0,0,1,0,0,0,1,0
1,51,637,1,999,0,1.4,93.444,-36.1,4.967,5228.1,...,0,0,0,0,0,0,1,0,1,0
2,36,1178,1,6,2,-1.8,93.876,-40.0,0.699,5008.7,...,0,0,0,0,1,0,0,0,0,1
3,32,240,5,999,0,1.4,93.444,-36.1,4.966,5228.1,...,0,0,0,0,0,1,0,0,1,0
4,50,93,1,999,0,1.4,93.444,-36.1,4.964,5228.1,...,0,0,0,0,1,0,0,0,1,0

In [152]:
x_test.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,53,unemployed,married,unknown,unknown,no,no,telephone,may,thu,202,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
1,51,technician,married,high.school,unknown,unknown,unknown,cellular,aug,wed,637,1,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
2,36,admin.,married,university.degree,no,yes,yes,cellular,may,thu,1178,1,6,2,success,-1.8,93.876,-40.0,0.699,5008.7
3,32,admin.,single,university.degree,unknown,no,no,cellular,aug,tue,240,5,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
4,50,self-employed,married,basic.9y,no,yes,no,cellular,aug,thu,93,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1

In [153]:
x_test.shape

(8238, 20)

In [121]:
y_train.head()

    0
0  no
1  no
2  no
3  no
4  no

In [122]:
y_train.isnull().sum()

0    0
dtype: int64

In [123]:
y_train[0].value_counts()

no     29251
yes     3699
Name: 0, dtype: int64

In [124]:
y_train[0]=y_train[0].map({'no':0,
                                'yes':1})

In [125]:
y_train.head()

   0
0  0
1  0
2  0
3  0
4  0

In [126]:
y_train.shape

(32950, 1)

In [127]:
y_train.columns

Int64Index([0], dtype='int64')

In [128]:
y_train.rename(columns={0:"flag"})

       flag
0         0
1         0
2         0
3         0
4         0
...     ...
32945     1
32946     0
32947     0
32948     0
32949     0

[32950 rows x 1 columns]

In [131]:
X=x_train_encoded
Y=y_train

In [132]:
from sklearn.model_selection import train_test_split

In [133]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=101)

In [134]:
X_train.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
4235,51,104,4,999,0,-1.8,93.075,-47.1,1.405,5099.1,...,0,0,0,1,0,0,0,0,1,0
17646,36,274,1,999,0,1.4,93.918,-42.7,4.961,5228.1,...,0,0,0,0,0,1,0,0,1,0
22686,41,381,4,999,0,1.4,93.918,-42.7,4.955,5228.1,...,0,0,0,0,0,1,0,0,1,0
32635,38,733,1,999,0,-0.1,93.200,-42.0,4.076,5195.8,...,0,0,0,0,1,0,0,0,1,0
892,39,127,1,999,0,1.4,94.465,-41.8,4.958,5228.1,...,0,0,0,0,1,0,0,0,1,0

In [135]:
Y_train.head()

       0
4235   0
17646  0
22686  0
32635  0
892    0

# Building models

In [140]:
#Normalising using Min_Max_scaler

In [141]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [142]:
cols = X_train.columns
cols

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [143]:
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=cols)
X_train_scaled.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,0.419753,0.027477,0.054545,1.0,0.0,0.333333,0.340608,0.154812,0.174790,0.512287,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.234568,0.072391,0.000000,1.0,0.0,1.000000,0.669135,0.338912,0.980957,1.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.296296,0.100661,0.054545,1.0,0.0,1.000000,0.669135,0.338912,0.979596,1.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.259259,0.193659,0.000000,1.0,0.0,0.687500,0.389322,0.368201,0.780322,0.877883,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.271605,0.033554,0.000000,1.0,0.0,1.000000,0.882307,0.376569,0.980277,1.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [144]:
X_test_scaled = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=cols)
X_test_scaled.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,0.148148,0.221136,0.000000,1.0,0.0,0.333333,0.269680,0.192469,0.158694,0.512287,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.246914,0.030647,0.036364,1.0,0.0,0.333333,0.340608,0.154812,0.174790,0.512287,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.506173,0.015588,0.036364,1.0,0.0,1.000000,0.484412,0.615063,0.981864,1.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.518519,0.028269,0.018182,1.0,0.0,0.937500,0.698753,0.602510,0.957379,0.859735,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.222222,0.043593,0.000000,1.0,0.0,0.333333,0.269680,0.192469,0.157107,0.512287,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

# Implementing Logistic Regression

In [145]:
#importing Logistic Regression and metric F1-score
from sklearn.linear_model import LogisticRegression as LogReg
from sklearn.metrics import f1_score

In [146]:
# Creating instance of Logistic Regresssion
logreg = LogReg()
# Fitting the model
logreg.fit(X_train, Y_train)

C:\Users\CANARA\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\CANARA\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [147]:
#Making predictions using predict function

In [148]:
# Predicting over the Train
train_predict = logreg.predict(X_train)
train_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [149]:
# Calculating f1-score
k = f1_score(train_predict, Y_train)
print('Training f1_score', k )

Training f1_score 0.4984173876345221

In [156]:
# Predicting over the Test Set and f1-score
test_predict = logreg.predict(X_test)
k = f1_score(test_predict, Y_test)
print('Test f1_score', k )

Test f1_score 0.4811399832355407

# Making predictions using predict_proba function

In [157]:
# Predicting over the Train
train_predict = logreg.predict_proba(X_train)
train_predict

array([[0.96081033, 0.03918967],
       [0.9778869 , 0.0221131 ],
       [0.97306968, 0.02693032],
       ...,
       [0.80491522, 0.19508478],
       [0.97817575, 0.02182425],
       [0.98913423, 0.01086577]])

In [158]:
train_preds = train_predict[:,1]
train_preds

array([0.03918967, 0.0221131 , 0.02693032, ..., 0.19508478, 0.02182425,
       0.01086577])

In [159]:
for i in range(0, len(train_preds)):
  if(train_preds[i]>0.55):
    train_preds[i] = 1
  else:
    train_preds[i] = 0

In [160]:
# Calculating f1-score
k = f1_score(train_preds, Y_train)
print('Training f1_score', k )

Training f1_score 0.47383528372709205

# Implementing Decision tree model

In [162]:
#importing decision tree classifier 
from sklearn.tree import DecisionTreeClassifier

In [163]:
clf = DecisionTreeClassifier()

In [164]:
clf.fit(X_train,Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [165]:
clf.score(X_train,Y_train)

1.0

In [166]:
clf.score(X_test, Y_test)

0.8871016691957512

In [167]:
clf.predict(X_test)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

# Random Forest

In [168]:
from sklearn.ensemble import RandomForestClassifier

In [173]:
model = RandomForestClassifier()

In [174]:
model.fit(X_train,Y_train)

C:\Users\CANARA\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [175]:
model.score(X_train,Y_train)

0.9999620637329287

In [176]:
model.score(X_test, Y_test)

0.9115326251896814